<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
  <strong>Content:</strong>
  <%= @item.content %>
  <%= link_to 'Back', root_url + "categories/#{@category.id}"%>
</p>
